.header {
  grid-area: header;
  text-align: center;
    }
.menu {
  grid-area: menu;
}
.main {
  grid-area: main;
}
.grid-container {
  display: grid;
  grid-template-areas: 'header header'
  'menu main';
  grid-gap:10px;
  background-color: #FFA7A7;
  padding: 30px;
}
.grid-container > div {
  border: 5px gray solid;
  padding: 25px;
  background-color: #FFD8D8;
}
#padding {
  padding-left: 20px;
}
li {
  margin:7px;
}
body {
  margin:0px;
  background-color: #FFA7A7;
}
h1 {
padding: 15px;
margin: 0px;
}
@media(max-width:600px) {
  .grid-container {
    display: block;
  }
}
@media(max-width:330px) {
  h1 {
  padding: 0px;
  font-size: 22px;
  }
  a {
    font-size: 13px;
  }
  .main {
    font-size: 13px;
  }
}
